<!DOCTYPE html>
<html>
  <head>
    <title>Simthebl Portfolio</title>
    <metacharset="UTF-8">
  </head>
  <body>
    <form action="list" method="POST">
      <input name="free_text" placeholder="Sök"></input>
      <input type="submit" value="Sök din kanalje!"></input>
    </form>
    <br><br>
    Välkommen till Simthebl Portfolio!<br>
    <p>Projects: <br>{{ project }} thumb_nail: {{ thumb }} desc {{ short_desc }}</p>
  </body>
</html>
