article, aside, figure, footer, header, hgroup, nav, section { display: block; }

body {
    margin: 0;
    background-color: #FFFFFF;
    padding: 0;
}

nav {
    border-top: 3px solid #DA4D00;
    background-color: #AAAAAA;
    height: 30px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

nav ul {
    width: 80%;
    list-style: none;
    display: table;
    margin: 0 auto;
}

nav li {
    display: table-cell;
    padding-top: 6px;
}

nav a {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 14px;
}

nav a:link {
    color: #000000;
}   

nav a:visited {
    color: #000000;
} 

nav a:hover {
    color: #EEEEEE;
} 

nav a:active {
    color: #FFFFFF;
}

header {
    width: 85%;
    margin: 0 auto;
    background-color: #333333;
    text-align: center;
    padding: 50px 0;
}

header form {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 30px 0;
    width: 85%;
    margin: 0 auto;
    background-color: #333333;
}

footer p {    
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #DDDDDD;
    margin-left: 3px;
    vertical-align: top;
}

section {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #EEEEEE;
}

article {
    margin-left: 10%;
    margin-right: 10%;
}

article img {
    display: block;
    margin: 60px auto;
    z-index: 5;
    position: relative;
}

article section {
    z-index: 0;
    position: absolute;
    width:85%;
    height: 60px;
    background-color: #AAAAAA;
    margin-top: 100px;
    margin-left: -8.5%;
}

h1 {
    display: inline;
    color: #FFFFFF;
    font-size: 48px;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 100;
}

h2 {
    display: inline;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-right: 10px;
    color: #DA4D00;
}

h3 {
    font-size: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #333333;
}

h4 {
    display: inline;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #DA4D00;
}

figure {
    border-top: 1px dotted #333333;
    border-bottom: 1px dotted #333333;
}

figure img {
    height: 160px;
    width: 160px;
    margin: 0 0;
}

figcaption {
    display: inline;
}

form ul {
    display: block;
    list-style: none;
    padding-bottom: 100px;
}

form ul li {
    float: left;
    display: block;
    width: 33.3333333333%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

p {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
}