<!DOCTYPE html>
<html>
  <head>
    <title>Simthebl Portfolio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,900" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% if status == 0: %}
    <header>
      <h1>SIMTHEBL PORTFOLIO</h1><h2>.</h2>
      <form action="list" method="POST">
	<input name="free_text" placeholder="Sök">
	<input type="submit" value="Sök projekt">
      </form>
    </header>
    <nav>
	<ul>  
          <li><a href="/">Start</a></li>
	  <li><a href="/list">Projekt</a></li>
	  <li><a href="/techniques">Tekniker</a></li>
	</ul>
      </nav>
    <section>
      <article>
      {% block content %} {% endblock %}
      </article>
    </section>
    <footer>
      <h4>&#169;</h4> <p>Simthebl 2013</p>
    </footer>
    {% elif status == 1: %}
    <h2>Projektdatabasen hittades inte!</h2>
    {% elif status == 2: %}
    <h2>Det finns inget projekt med detta ID!</h2>
    {% endif %}
  </body>
</html>
