{% extends "layout.jinja" %}
{% block content %}
   <h3>PROJEKT</h3>
  <form action="list" method="POST">
    <input name="free_text" placeholder="Avancerad sök" value="{{ search_text }}"> <input type="submit" value="Sök"><br> 
    <p>Sortera efter fält:
    <select name="sort_by_field">
      {% for key in db[0].keys()|sort() %}
      {% if key != "start_date" %}
      <option value="{{ key }}">{{ key }}</option>
      {% else %}
      <option value="{{ key }}" selected>{{ key }}</option>
      {% endif %}
      {% endfor %}
     </select>
    <input type="checkbox" name="ascending" value="asc">Stigande</p>
    <p>Sök i fält:</p>
    <ul>
    {% for key in db[0].keys() %}
    <li>
    <input type="checkbox" name="field_{{ key }}" value="{{ key }}" {% if checked_fields != None and key in checked_fields %}checked{% endif %}>{{ key }}
    </li>  
    {% endfor %}
    </ul>
    <p>Måste innehålla tekniker:</p>
    <ul>
    {% for tech in techs %}
    <li>
    <input type="checkbox" name="tech_{{ tech }}" value="{{ tech }}" {% if checked_techs != None and tech in checked_techs %}checked{% endif %}>{{ tech }}  
    </li>
    {% endfor %}
    </ul>
  </form>
  {% if result %}
  <h3>Träffar:</h3>
  {% for project in result %}
  <figure>
  <img src="{{ projpic }}{{ project.small_image }}" alt="{{ projpic }}{{ project.small_image }}"><h5><a href="/project/{{ project.project_no }}">{{ project.project_name }}</a></h5>
<figcaption>Startdatum: {{ project.start_date }} Slutdatum: {{ project.end_date }} Bild: {{ project.small_image }}</figcaption> 
  </figure>
  {% endfor %}
  </ul>
  {% else %}
  <p>Inga träffar :(</p>
  {% endif %}
{% endblock %}
