{% extends "layout.jinja" %}
{% block content %}
<h3>START</h3>
<section></section>
<img src="{{ pic }}simtheo.png" alt="Simon och Theodor">
<p>Slumpmässigt projekt:</p>
<figure>
  <img src="{{ pic }}google-io.png">
  <h5>{{ project }}</h5>
  <p> 
  thumb_nail: {{ thumb }} desc {{ short_desc }}
  </p>
</figure>
{% endblock %}
