{% extends "layout.jinja" %}
{% block content %}
<h3>START</h3>
<section></section>
<img src="{{ pic }}simtheo.png" alt="{{ pic }}simtheo.png">
<p>Slumpmässigt projekt:</p>
<figure>
  <img src="{{ projpic }}{{ thumb }}" alt="{{ projpic }}{{ thumb }}">
  <h5><a href="/project/{{ pid }}">{{ project }}</a></h5>
  <p> 
  Description: {{ short_desc }}
  </p>
</figure>
{% endblock %}
