{% extends "layout.jinja" %}
{% block content %}
<h3>TEKNIKER</h3>
<ul>
	   {% for technique in techs %}
	   <li>
		<h5>{{ technique }}</h5>
		<ul>
		{% for i in stats[technique] %}
		   <li><a href="/project/{{ i.id }}">{{ i.name }}</a></li>
		{% endfor %}
		</ul>
	   </li>
	   {% endfor %}
</ul>
{% endblock %}
