{% extends "layout.jinja" %}
{% block content %}
<h2>Tekniker</h2>
<ul>
{% for technique in techs %}
<li><a href="" title="{% for i in stats[technique] %}Projekt: {{ i.name }} ID: {{ i.id }} {% endfor %}"> {{ technique }} </a></li>
{% endfor %}
</ul>
{% endblock %}
